.requests{
    padding-top: 60px;
    align-items: center;
    background-color: #fff;
    max-width: 1920px;
    margin: 0 auto;
    &__title{
        margin-left: 7.1875vw;
        padding-bottom: 69px;
        background-color: #fff;
        font-family: 'DINProRegular';
        font-weight: normal;
        color: #000;
        font-size: 40px;
        @media screen and (max-width: 810px) {
            font-family: 'DINProBold';
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 30px;
            margin-left: 19px;
        }
    }
    &__types{
        background-color: #fff;
        margin-left: 7.1875vw;
        margin-bottom: 40px;
        @media screen and (max-width: 810px) {
            margin-left: 19px;
            margin-bottom: 30px;
        }
        &__info, &__history{
            padding: 0;
            display: inline;
            color: #fd5520;
            margin-right: 20px;
            background-color: #fff;
            font-family: "DINProRegular";
            font-weight: normal;
            border: none;
            font-size: 14.01px;
            border-bottom: 1px dotted #fe9979;
            @media screen and (max-width: 810px) {
                margin-top: 9px;
                margin-bottom: 9px;
            }
            &--active{
                color: #fd5520;
                padding: 10px;
                margin-right: 20px;
                background-color: #ffe6de;
                font-family: "DINProRegular";
                font-weight: normal;
                font-size: 14.01px;
                border: none;
                border-radius: 4px;
            }
            &--active:hover{
                cursor: pointer;
            }
        }
        &__info:hover, &__history:hover{
            cursor: pointer;
        }
    }
    
    &__info{
        background-color: #fff;
        &__titles{
            background-color: #fff;
            display: flex;
            padding-left: 7.1875vw;
            @media screen and (max-width: 810px) {
                padding-left: 19px;
            }
            @media screen and (min-width: 1921px) {
                padding-left: 138px
            }
            &__title{
                width: 8.203125vw;
                padding-right: 0.52vw;
                min-width: 115px;
                font-family: 'DINProRegular';
                font-weight: normal;
                color: #7a7a7a;
                text-align: left;
                font-size: 12px;
                background-color: #fff;
                padding-bottom: 8px;
                border-bottom: 1px solid #cccccc;
                @media screen and (min-width: 1921px) {
                    width: 157.5px;
                    padding-right: 10px;
                }
            }
        }
        &__elements{
            background-color: #fff;
            display: flex;
            padding-left: 7.1875vw;
            @media screen and (max-width: 810px) {
                padding-left: 19px;
            }
            @media screen and (min-width: 1921px) {
                padding-left: 138px
            }
            &__element{
                width: 8.203125vw;
                min-width: 115px;
                padding-top: 20px;
                padding-bottom: 10px;
                padding-right: 0.52vw;
                font-family: 'DINProRegular';
                font-weight: normal;
                color: #111111;
                font-size: 12px;
                background-color: #fff;
                text-align: left;
                @media screen and (min-width: 1921px) {
                    width: 157.5px;
                    padding-right: 10px;
                }
            }
        }
        &__elements:hover{
            background-color: #ffeee8;
        }
        &__elements:hover &__elements__element{
            background-color: #ffeee8;
        }
        &__container{
            background-color: #fff;
            overflow-y: auto;
        }

        .MuiPagination-root{
            margin-left: 7.1875vw;
            @media screen and (max-width: 810px) {
                margin-left: 19px;
            }
            margin-top: 40px;
            background-color: #fff;
            padding-bottom: 120px;
        }
        .MuiPagination-ul{
            background-color: #fff;
        }
        .MuiPagination-ul li{
            background-color: #fff;
        }
        .MuiPagination-ul li button{
            font-family: 'DINProRegular';
            font-size: 17.78px;
            color: #fd5520;
            background-color: #fff;
        }

        .MuiPagination-ul li button:hover{
            color:#000000;
        }
        .MuiTouchRipple-root{
            display: none;
        }
        .MuiPaginationItem-page.Mui-selected{
            color:#000000;
        }
        .MuiPaginationItem-page.Mui-selected:hover, .MuiPaginationItem-page.Mui-selected.Mui-focusVisible {
            background-color: #fff;
        }
        .MuiPaginationItem-ellipsis{
            background-color: #fff;
        }
    }
}
