.header {
    width: calc(100% - 76px);
    max-width: 1844px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 38px;
    padding-right: 38px;
    height: 118px;
    color: #fff;
    background-color: #fff;
    border-bottom: 2px solid #f2f2f2;
    position: relative;
    &__list{
        position: absolute;
        left: 12px;
        margin: 0;
        padding: 0;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        &__line{
            background-color: #000;
            height: 1px;
            width: 21px;
        }
    }
    &__list:hover{
        cursor: pointer;
    }
    &--logo{
        background-color: #fff;
        position: relative;
        display: inline;
        white-space: nowrap;
        padding-left: 40px;
        font-family: 'MyriadProRegular';
        font-size: 12px;
        color: #fd5520;
        margin-right: 3.125vw;
    }
    &--logo::before {
        position: absolute;
        content: '';
        left: 16px;
        top: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        background: #fd5520;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        height: 31px;
        width: 31px;
        
    }
    &--logo:hover{
        cursor: pointer;
    }
    &--nav{
        background-color: #fff;
        padding: 0;
        width: 100%;
        &--element{
            background-color: #fff;
            float: left;
            font-family: "CircleBold";
            list-style: none;
            text-align: center;
            font-size: 12px;
            color: black;
            margin-right: 20px;
            border-bottom: 1px solid #a3a3a3;
        }
        &--element:hover{
            cursor: pointer;
        }
    }
    @media screen and (max-width: 810px) {
        &--nav{
            display: none;
        }
    }

    @media screen and (min-width: 810px) {
        &__list{
            display: none;
        }
    }

    &--tools{
        padding: 0;
        margin: 0;
        height: 45px;
        display: flex;
        background-color: #fff;
        &__counter1{
            position: absolute;
            right: -15px;
            top: -22px;
            font-family: "DINProBold";
            text-align: center;
            padding-top: 1px;
            font-size: 12px;
            border-radius: 4px;
            width: 31px;
            height: 18px;
            background-color: #fd5520;
        }
        img{
            height: 45px;
        }
        &__counter2{
            position: absolute;
            background-color: transparent;
            color: black;
            font-family: 'DINProRegular';
            font-size: 10px;
            top: -20px;
            right: 50%;
            left: calc(50% - 8px);
        }
        @media screen and (max-width: 810px) {
            &__search, &__profile {
              display: none;
            }
        }

        &__blob, &__notifications{
            &__container{
                background-color: #fff;
                position: relative;
            }
        }
    }

    &--tools > * {
        margin-right: 20px;
    }

    &--tools__notifications__container {
        margin-right: 0;
    }
    
    img {
        background-color: #fff;
    }
    img:hover{
        cursor: pointer;
    }

    &__drop{
        position: absolute;
        background-color: transparent;
        margin-top: 110px;
        z-index: 1;
        width: 160px;
        display: flex;
        flex-direction: column;
        &--element{
            width: 100%;
            color: #000;
            text-align: left !important;
            font-family: "CircleBold";
            list-style: none;
            text-align: center;
            font-size: 12px;
            color: black;   
            padding: 5px 0 5px 10px;
        }
        &--element:nth-child(odd){
            background-color: rgba(236, 250, 255, 0.95);
        }
        &--element:nth-child(even){
            background-color: rgba(255, 247, 234, 0.95);
        }
        &--element:first-child{
            border-top-right-radius: 10px;
        }
        &--element:last-child{
            border-bottom-right-radius: 10px;
        }
    }

    @media screen and (min-width: 810px) {
        &__drop {
          display: none;
        }
    }
}

@media screen and (max-width: 810px) {
   .header{
    justify-content: unset;
    height: 73px;
    width: calc(100% - 53px);
    padding-right: 15px;
    &--tools{
        margin-left: auto;
        height: 25px;
        &__blob, &__notifications{
            &__container{
                img{
                    height: 25px;
                }
            }
        }
        &__counter1{
            background-color: transparent;
            color: #fd5520;
        }
    }
   }
}