.members{
    padding: 0;
    background-color: #fff;
    &__title{
        background-color: #fff;
        font-family: "DINProRegular";
        font-size: 40px;
        margin-bottom: 50px;
        @media screen and (max-width: 810px) {
            font-family: 'DINProBold';
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 22px;
        }
    }
    &__sort{
        background-color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (max-width: 810px) {
            flex-direction: column;
        }
        &__element{
            margin-top: 14px;
            margin-right: 35px;
            background-color: #fff;
            color: #fd5520;
            border-bottom: 1px solid #fd5520;
            font-family: "DINProRegular";
            font-size: 14px;
            @media screen and (max-width: 810px) {
                border-bottom: none;
                text-decoration: underline;
                text-decoration-style: solid;
                text-decoration-color: #feaa8f;
            }
        }
        &__element:hover{
            cursor: pointer;
        }
    }
    &__container{
        margin: 36px 0 0 0;
        padding: 0;
        max-height: 760px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: hidden;
        .member{
            background-color: #fff;
            width: 300px;
            height: 190px;
            margin-bottom: 90px;
            display: flex;
            flex-direction: row;
            margin-right: 3.6458vw;
            @media screen and (max-width: 810px) {
                display: block;
            }
            &__avatar{
                background-color: #fff;
                width: 75px;
                height: 75px;
                margin-right: 17px;
                @media screen and (max-width: 810px) {
                    float: left;
                    width: 40px;
                    height: 40px;
                }
                &--none{
                    background-color: #fff;
                    width: 75px;
                    height: 75px;
                    margin-right: 17px;
                    line-height: 75px;
                    color: #999999;
                    font-family: "DINProBold";
                    font-size: 12px;
                    text-align: center;
                    border: 1px solid #cdcdcd;
                    border-radius: 50%;
                    @media screen and (max-width: 810px) {
                        float: left;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
            &__info{
                @media screen and (max-width: 810px) {
                    width: 100%;
                }
                width: 200px;
                background-color: #fff;
                &__name{
                    border-bottom: 1px solid #cccccc;
                    display: inline;
                    background-color: #fff;
                    font-size: 14px;
                    line-height: 19px;
                    font-family: "DINProBold";
                    &__container{
                        background-color: #fff;
                        margin-bottom: 10px;
                    }
                }
                &__role, &__acieves, &__rating{
                    margin-top: 10px;
                    background-color: #fff;
                    font-size: 12px;
                    font-family: "DINProRegular";
                    color: #666666;
                }
                &__role{
                    margin: 0;
                    @media screen and (max-width: 810px) {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
                &__rating{
                    margin-bottom: 18px;
                }
                &__tag{
                    display: inline;
                    margin-right: 10px;
                    background-color: #fff;
                    color: #fd5520;
                    border-bottom: 1px solid #feaa8f;
                    font-size: 12px;
                    font-family: "DINProRegular";
                    cursor: pointer;
                }
                &__action{
                    font-family: "MyriadProRegular";
                    font-size: 12px;
                    padding: 9px 21px 9px 21px;
                    color: #fd5520;
                    background-color: #fff;
                    border: 1px solid #feaa8f;
                    border-radius: 21px;
                    transition: .2s;
                }
                &__action:hover{
                    cursor: pointer;
                    color: white;
                    background-color: #fd5520;
                }
            }
        }
    }
    &__actions {
        background-color: #fff;
        margin-top: 70px;
        @media screen and (max-width: 810px) {
            margin-top: 40px;
        }
        display: flex;
        flex-direction: column;
        &--become{
            max-width: 145px;
            font-family: "DINProRegular";
            font-size: 18px;
            padding: 15px 39px 15px 39px;
            color: #fff;
            background-color: #fd5520;
            border-radius: 39px;
            transition: .2s;
        }
        &--become:hover{
            cursor: pointer;
            background-color: #ff7246;
        }
        &--showAll{
            margin-top: 40px;
            max-width: 117px;
            font-family: "DINProRegular";
            font-size: 18px;
            padding: 15px 39px 15px 39px;
            text-align: center;
            color: #fd5520;
            background-color: #fff;
            border: 1px solid #feaa8f;
            border-radius: 39px;
            transition: .2s;
        }
        &--showAll:hover{
            cursor: pointer;
            color: white;
            background-color: #fd5520;
        }
    }
}