

.main{
    background-color: #fff;
    padding-bottom: 88px;
    &__sections{
        background-color: #fff;
        margin-bottom: 45px;
        @media screen and (max-width: 810px) {
            margin-bottom: 20px;
        }
        &--element{
            white-space: nowrap;
            position: relative;
            font-family: 'DINProRegular';
            font-weight: 400;
            font-size: 14px;
            color: #999999;
            margin-right: 13px;
            display: inline-block;
            background-color: #fff;
            text-align: center;
            border-bottom: 1px solid #a3a3a3;
            
        }
        &--element:not(:last-child)::after{
            position: absolute;
            content: "/";
            right: -9px;
        }
        &--element:hover{
            cursor: pointer;
        }
    }
    &__headline{
        background: #fff;
        font-family: "DINProRegular";
        font-weight: 400;
        font-size: 52px;
        max-width: 500px;
        margin-bottom: 45px;
        @media screen and (max-width: 810px) {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 25px;
        }
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        background-color: #fff;
        &--container{
            display:inline-block;
            background-color: #fff;
            &--description{
                max-width: 800px;
                background-color: #fff;
                font-family: "DINProRegular";
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 1em;
                @media screen and (max-width: 810px) {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
        &--slider{
            position: relative;
            width: 606px;
            height: 300px;
            margin-left: auto;
            margin: 0;
            padding: 0;
            background-color: transparent;
            &__container{
                position: relative;
                color: white;
                margin: 0 auto;
                height: 300px;
                overflow: hidden;
                &__title{
                    display: inline-block;
                    max-width: 310px;
                    position: absolute;
                    background-color: transparent;
                    font-family: 'DINProBold';
                    font-weight: bold;
                    text-align: left !important;
                    font-size: 24px;
                    margin-left: 85px;
                    margin-top: 45px;
                }
                &__description{
                    position: absolute;
                    background-color: transparent;
                    font-family: 'DINProRegular';
                    font-weight: normal;
                    text-align: left !important;
                    font-size: 18px;
                    margin-left: 85px;
                    max-width: 65%;
                    margin-top: 150px;
                }
                img{
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }

    .carousel-root{
        height: 300px;
    }
    .carousel-slider{
        height: 300px;
    }
    .slider-wrapper{
        height: 300px;
    }
    .slide{
        height: 300px;
    }
    
    &__tags {
        background-color: #fff;
        padding: 0;
        margin-top: 26px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &--element{
            background-color: #ececec;
            color: #666666;
            padding: 11px;
            padding-top: 9px;
            margin-top: 7px;
            margin-right: 7px;
            border-radius: 4px;
            font-family: 'DINProRegular';
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            transition: 0.3s;
            @media screen and (max-width: 810px) {
                    
                }
        }
        &--element:hover{
            color: #fd5520;
            cursor: pointer;
        }
    }
    &__classificators, &__competence{
        margin-bottom: 30px;
        background-color: #fff;
        &--headline {
            background-color: #fff;
            font-family: 'DINProBold';
            font-size: 12px;
        }
        &--elements{
            padding: 0;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &--element{
                padding: 0;
                background-color: #fff;
                font-family: 'DINProRegular';
                font-size: 12px;
                color: #666666;
                border-bottom: 1px solid #c2c2c2;
                margin-right: 20px;
                margin-top: 10px;
                @media screen and (max-width: 810px) {
                    border: none;
                    text-decoration: underline;
                    text-decoration-style: solid;
                    text-decoration-color: #c2c2c2;
                }
            }
            &--element:hover {
                cursor: pointer;
            }
        }
    }
    &__editing{
        background-color: #fff;
        max-width: 100px;
        display: flex;
        flex-direction: row;
        .anticon {
            background-color: #fff;
            opacity: 0.5;
            transition: .2s;
        }

        .anticon svg{
            background-color: #fff;
            color: #fd5520;
        }

        &__title{
            background-color: #fff;
            color: #fd5520;
            border-bottom: 1px dotted #fd5520;
            margin-left: 12px;
            font-family: 'DINProRegular';
            font-size: 14px;
        }
    }
    &__editing:hover {
        cursor: pointer;
        .anticon {
            opacity: 1;
        }
    }
}